# springboot 默认配置
server:
  application:
    name: user-auth
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Shanghai
  port: 8081
  aop:
    proxy-target-class: true
    auto: true

spring:
  # 数据库配置
  datasource:
    url: jdbc:mysql://localhost:3306/dingcan?serverTimezone=GMT%2B8&characterEncoding=utf-8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  # 模版引擎配置
  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    mode: LEGACYHTML5
    cache: false

mybatis:
  # 禁用掉模板缓冲，在开发环境中可以实时的观察到html页面的更改
  spring:
    thymeleaf:
      cache: false

mybatis-plus:
  global-config:
    db-config:
      id-type: auto
      field-strategy: not_empty
      #驼峰下划线转换
      column-underline: true
      #逻辑删除配置
      logic-delete-value: 0
      logic-not-delete-value: 1
      db-type: mysql
    refresh: false
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false